<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles.css" >
    <title>Reserve A Book</title>
</head>
<body>
    <nav class="navbar  navbar-expand-lg">
        <div class="container">
            <a class="nav-brand" href="/">Reserve A Book</a> 
             {{>search}} 
        </div>
    </nav>
    <main>
        <div class="container">
            <p>{{error}}</p>
            <p>{{exception}}</p>

            {{{body}}}
        </div> 
    </main> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>