 
nav{
    background-color: rgb(185, 233, 240);
}

a.nav-brand, a.nav-brand:visited,
.nav-link, .nav-link:visited{
    text-decoration: none;
    color: #000;
}

.books .card,
.sidebar{
    width: 95%;
    margin: auto;
}
.card-title{
    text-overflow: ellipsis;
    height: 50px;
    overflow: hidden;
    color: #000;
}

.card .card-text{
    text-overflow: ellipsis;
    height: 128px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
    color: #000;
}

div.card-img {
    position:relative;
    border:1px dashed red;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    width: 100%;
    height: 200px;
}
div.card-img img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}

.reservation div.card-img{
    height: 150px;
}

.search form input[type='search']{
    display: inline-block;
    width: 60%;
}

.search form{
    min-width: 300px;
}

.reservation a{
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .search form{
        width: 500px;
    }

    .sidebar-col{
        border-left: 2px solid rgb(185, 233, 240);
    }
}

@media only screen and (max-width: 480px) {
    .search form{
        width: 100%;
    }
}